<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Caliper Profile for {{fullName}}</h4>
  </div>
  <div class="panel-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Score</th>
          <th>&nbsp;</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{attribute-tooltip similarityMatrix "assertiveness"}}</td><td>{{assertiveness}}</td>
          <td>{{attribute-tooltip similarityMatrix "aggressiveness"}}</td><td>{{aggressiveness}}</td>
        </tr>
        <tr>
          <td>{{attribute-tooltip similarityMatrix "egoDrive"}}</td><td>{{egoDrive}}</td>
          <td>{{attribute-tooltip similarityMatrix "empathy"}}</td><td>{{empathy}}</td>
        </tr>
        <tr>
          <td>{{attribute-tooltip similarityMatrix "egoStrengthResilience"}}</td><td>{{egoStrengthResilience}}</td>
          <td>{{attribute-tooltip similarityMatrix "riskTaking"}}</td><td>{{riskTaking}}</td>
        </tr>
        <tr>
          <td>{{attribute-tooltip similarityMatrix "urgency"}}</td><td>{{urgency}}</td>
          <td>{{attribute-tooltip similarityMatrix "cautiousness"}}</td><td>{{cautiousness}}</td>
        </tr>
        <tr>
          <td>{{attribute-tooltip similarityMatrix "sociability"}}</td><td>{{sociability}}</td>
          <td>{{attribute-tooltip similarityMatrix "gregariousness"}}</td><td>{{gregariousness}}</td>
        </tr>
        <tr>
          <td>{{attribute-tooltip similarityMatrix "accommodation"}}</td><td>{{accommodation}}</td>
          <td>{{attribute-tooltip similarityMatrix "skepticism"}}</td><td>{{skepticism}}</td>
        </tr>
        <tr>
          <td>{{attribute-tooltip similarityMatrix "abstractReasoning"}}</td><td>{{abstractReasoning}}</td>
          <td>{{attribute-tooltip similarityMatrix "ideaOrientation"}}</td><td>{{ideaOrientation}}</td>
        </tr>
        <tr>
          <td>{{attribute-tooltip similarityMatrix "thoroughness"}}</td><td>{{thoroughness}}</td>
          <td>{{attribute-tooltip similarityMatrix "flexibility"}}</td><td>{{flexibility}}</td>
        </tr>
        <tr>
          <td>{{attribute-tooltip similarityMatrix "selfStructure"}}</td><td>{{selfStructure}}</td>
          <td>{{attribute-tooltip similarityMatrix "externalStructure"}}</td><td>{{externalStructure}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
