<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Comparisons</h4>
      </div>
      <div class="panel-body">
        <div class="col-xs-3">
          <h5>DiSC least like {{fullName}}</h5>
          <dl>
            {{#each discStyleOpposites}}
              <dd>{{#link-to "superheroes.show" this}}
                    {{fullName}} ({{majorDiscStyle}})
                  {{/link-to}}
              </dd>
            {{/each}}
          </dl>
        </div>
        <div class="col-xs-3">
          <h5>DiSC most like {{fullName}}</h5>
          <dl>
            {{#each discStyleSimilar}}
              <dd>{{#link-to "superheroes.show" this}}
                {{fullName}} ({{majorDiscStyle}})
                {{/link-to}}
              </dd>
            {{/each}}
          </dl>

        </div>
        <div class="col-xs-3">
          <h5>Caliper most like {{fullName}}</h5>
          <dl>
            {{#each globalCaliperMostLike}}
              <dd>
                {{#link-to "superheroes.show" this.hero}}
                  {{this.hero.fullName}}
                {{/link-to}}
                ({{this.score}})
              </dd>
            {{/each}}
          </dl>
        </div>
        <div class="col-xs-3">
          <h5>Caliper least like {{fullName}}</h5>
          <dl>
            {{#each globalCaliperLeastLike}}
              <dd>
                {{#link-to "superheroes.show" this.hero}}
                  {{this.hero.fullName}}
                {{/link-to}}
                ({{this.score}})
              </dd>
            {{/each}}
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
