<div class="row">
  <div class="col-xs-12">
    <h1>Profile Checker</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="info">
          <h2 class="full_name">Missing Pic ({{missingPic.length}})</h2>
        </div>
        <ul>
          {{#each missingPic}}
            <li>
              {{#link-to "superheroes.show" this}}
                {{fullName}}
              {{/link-to}}
	    </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>

  <div class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="info">
          <h2 class="full_name">Missing Major DiSC Style ({{missingDiSC.length}})</h2>
        </div>
        <ul>
          {{#each missingDiSC}}
            <li>
              {{#link-to "superheroes.show" this}}
                {{fullName}}
              {{/link-to}}
	    </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>

  <div class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="info">
          <h2 class="full_name">Empty Profile ({{emptyProfile.length}})</h2>
        </div>
        <ul>
          {{#each emptyProfile}}
            <li>
              {{#link-to "superheroes.show" this}}
                {{fullName}}
              {{/link-to}}
	    </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>

</div>

<div class='row'>

  <div class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="info">
          <h2 class="full_name">Missing Caliper ({{incompleteCaliper.length}})</h2>
        </div>
        <ul>
          {{#each incompleteCaliper}}
            <li>
              {{#link-to "superheroes.show" this}}
                {{fullName}}
              {{/link-to}}
	    </li>
           {{/each}}
        </ul>
      </div>
    </div>
  </div>


  <div class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="info">
          <h2 class="full_name">Missing Email ({{missingEmail.length}})</h2>
        </div>
        <ul>
          {{#each missingEmail}}
            <li>
              {{#link-to "superheroes.show" this}}
                {{fullName}}
              {{/link-to}}
	    </li>
           {{/each}}
        </ul>
      </div>
    </div>
  </div>

</div>

<div class='row'>

  <div class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="info">
          <h2 class="full_name">Missing PnProfile ({{missingPnProfile.length}})</h2>
        </div>
        <ul>
          {{#each missingPnProfile}}
            <li>
              {{#link-to "superheroes.show" this}}
                {{fullName}}
              {{/link-to}}
	    </li>
           {{/each}}
        </ul>
      </div>
    </div>
  </div>

  <div class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="info">
          <h2 class="full_name">Missing Twitter ({{missingTwitter.length}})</h2>
        </div>
        <ul>
          {{#each missingTwitter}}
            <li>
              {{#link-to "superheroes.show" this}}
                {{fullName}}
              {{/link-to}}
	    </li>
           {{/each}}
        </ul>
      </div>
    </div>
  </div>

  <div class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="info">
          <h2 class="full_name">Missing Facebook ({{missingFacebook.length}})</h2>
        </div>
        <ul>
          {{#each missingFacebook}}
            <li>
              {{#link-to "superheroes.show" this}}
                {{fullName}}
              {{/link-to}}
	    </li>
           {{/each}}
        </ul>
      </div>
    </div>
  </div>

</div>

<div class='row'>

  <div class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="info">
          <h2 class="full_name">Missing Location ({{missingLocation.length}})</h2>
        </div>
        <ul>
          {{#each missingLocation}}
            <li>
              {{#link-to "superheroes.show" this}}
                {{fullName}}
              {{/link-to}}
	    </li>
           {{/each}}
        </ul>
      </div>
    </div>
  </div>


  <div class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="info">
          <h2 class="full_name">Missing Phone ({{missingPhone.length}})</h2>
        </div>
        <ul>
          {{#each missingPhone}}
            <li>
              {{#link-to "superheroes.show" this}}
                {{fullName}}
              {{/link-to}}
	    </li>
           {{/each}}
        </ul>
      </div>
    </div>
  </div>

</div>
