<div class="superhero">
  <div class="row">
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="info">
            <h2 class="full_name">{{fullName}}</h2>
            <div class="email">{{mail-to email}}</div>
            <p>
              {{vcard-download vCard}}
            </p>
          </div>
          <div class="photo">
            <img {{bind-attr src=picUrl}} />
            <div class="social-container">
              {{view "social" socialType="facebook"}}
              {{view "social" socialType="gplus"}}
              {{view "social" socialType="twitter"}}
              {{view "social" socialType="pnprofile"}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">About Me</h4>
        </div>
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>My Superpowers</dt>
            <dd>{{superpowers}}</dd>
            <dt>My Priorities</dt>
            <dd>{{priorities}}</dd>
            <dt>What I Love</dt>
            <dd>{{whatILove}}</dd>
            <dt>What I Hate</dt>
            <dd>{{whatIHate}}</dd>
            <dt>What I Need From You</dt>
            <dd>{{whatINeed}}</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">{{fullName}}'s DiSC style is {{majorDiscStyle}} - {{discStyleDescription}}</h4>
        </div>
        <div class="panel-body">
          <div class="disc-image col-xs-6 col-sm-6 col-md-6 col-lg-6 panel-body">
            <img width="100%" {{bind-attr src=discPicUrl}} />
          </div>
          <div class="disc-comparison col-xs-6 col-sm-6 col-md-6 col-lg-6 panel-body">
            <p>Least like {{fullName}}</p>
            <ul>
              {{#each discStyleOpposites}}
                <li>{{#link-to "superheroes.show" this}}
                      {{fullName}} ({{majorDiscStyle}})
                    {{/link-to}}
                </li>
              {{/each}}
            </ul>
            <p>Most like {{fullName}}</p>
            <ul>
              {{#each discStyleSimilar}}
                <li>{{#link-to "superheroes.show" this}}
                  {{fullName}} ({{majorDiscStyle}})
                  {{/link-to}}
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Caliper Profile</h4>
        </div>
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>&nbsp;</th>
                <th>Score</th>
                <th>&nbsp;</th>
                <th>Score</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{attribute-tooltip similarityMatrix "assertiveness"}}</td><td>{{assertiveness}}</td>
                <td>{{attribute-tooltip similarityMatrix "aggressiveness"}}</td><td>{{aggressiveness}}</td>
              </tr>
              <tr>
                <td>{{attribute-tooltip similarityMatrix "egoDrive"}}</td><td>{{egoDrive}}</td>
                <td>{{attribute-tooltip similarityMatrix "empathy"}}</td><td>{{empathy}}</td>
              </tr>
              <tr>
                <td>{{attribute-tooltip similarityMatrix "egoStrengthResilience"}}</td><td>{{egoStrengthResilience}}</td>
                <td>{{attribute-tooltip similarityMatrix "riskTaking"}}</td><td>{{riskTaking}}</td>
              </tr>
              <tr>
                <td>{{attribute-tooltip similarityMatrix "urgency"}}</td><td>{{urgency}}</td>
                <td>{{attribute-tooltip similarityMatrix "cautiousness"}}</td><td>{{cautiousness}}</td>
              </tr>
              <tr>
                <td>{{attribute-tooltip similarityMatrix "sociability"}}</td><td>{{sociability}}</td>
                <td>{{attribute-tooltip similarityMatrix "gregariousness"}}</td><td>{{gregariousness}}</td>
              </tr>
              <tr>
                <td>{{attribute-tooltip similarityMatrix "accommodation"}}</td><td>{{accommodation}}</td>
                <td>{{attribute-tooltip similarityMatrix "skepticism"}}</td><td>{{skepticism}}</td>
              </tr>
              <tr>
                <td>{{attribute-tooltip similarityMatrix "abstractReasoning"}}</td><td>{{abstractReasoning}}</td>
                <td>{{attribute-tooltip similarityMatrix "ideaOrientation"}}</td><td>{{ideaOrientation}}</td>
              </tr>
              <tr>
                <td>{{attribute-tooltip similarityMatrix "thoroughness"}}</td><td>{{thoroughness}}</td>
                <td>{{attribute-tooltip similarityMatrix "flexibility"}}</td><td>{{flexibility}}</td>
              </tr>
              <tr>
                <td>{{attribute-tooltip similarityMatrix "selfStructure"}}</td><td>{{selfStructure}}</td>
                <td>{{attribute-tooltip similarityMatrix "externalStructure"}}</td><td>{{externalStructure}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
