<div class="superhero">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-default">
        {{! <div class="panel-heading">Panel heading without title</div> }}
        <div class="panel-body">
          <div class="photo pull-left">
            <img {{bind-attr src=picUrl}} />
          </div>
          <div class="info pull-right">
            <h3 class="full_name">{{fullName}}</h3>
            <div class="email">{{mail-to email}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">About Me</h4>
        </div>
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>My Superpowers</dt>
            <dd>{{superpowers}}</dd>
            <dt>My Priorities</dt>
            <dd>{{priorities}}</dd>
            <dt>What I Love</dt>
            <dd>{{whatILove}}</dd>
            <dt>What I Hate</dt>
            <dd>{{whatIHate}}</dd>
            <dt>What I Need From You</dt>
            <dd>{{whatINeed}}</dd>

          </dl>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">DiSC Profile</h4>
        </div>
        <div class="panel-body">
          <img width="100%" {{bind-attr src=discPicUrl}} />
        </div>
      </div>
    </div>
    <div class="column-fluid col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Caliper Profile</h4>
        </div>
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>&nbsp;</th>
                <th>Score</th>
                <th>&nbsp;</th>
                <th>Score</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><span {{bind-attr title=assertivenessLeastLikeTooltip}}>Assertiveness</span></td><td>{{assertiveness}}</td>
                <td><span {{bind-attr title=aggressivenessLeastLikeTooltip}}>Aggressiveness</span></td><td>{{aggressiveness}}</td>
              </tr>
              <tr>
                <td><span {{bind-attr title=egoDriveLeastLikeTooltip}}>Ego Drive</span></td><td>{{egoDrive}}</td>
                <td><span {{bind-attr title=empathyLeastLikeTooltip}}>Empathy</span></td><td>{{empathy}}</td>
              </tr>
              <tr>
                <td><span {{bind-attr title=egoStrengthResilienceLeastLikeTooltip}}>Ego Strength/Resilience</span></td><td>{{egoStrengthResilience}}</td>
                <td><span {{bind-attr title=riskTakingLeastLikeTooltip}}>Risk Taking</span></td><td>{{riskTaking}}</td>
              </tr>
              <tr>
                <td><span {{bind-attr title=urgencyLeastLikeTooltip}}>Urgency</span></td><td>{{urgency}}</td>
                <td><span {{bind-attr title=cautiousnessLeastLikeTooltip}}>Cautiousness</span></td><td>{{cautiousness}}</td>
              </tr>
              <tr>
                <td><span {{bind-attr title=sociabilityLeastLikeTooltip}}>Sociability</span></td><td>{{sociability}}</td>
                <td><span {{bind-attr title=gregariousnessLeastLikeTooltip}}>Gregariousness</span></td><td>{{gregariousness}}</td>
              </tr>
              <tr>
                <td><span {{bind-attr title=accommodationLeastLikeTooltip}}>Accommodation</span></td><td>{{accommodation}}</td>
                <td><span {{bind-attr title=skepticismLeastLikeTooltip}}>Skepticism</span></td><td>{{skepticism}}</td>
              </tr>
              <tr>
                <td><span {{bind-attr title=abstractReasoningLeastLikeTooltip}}>Abstract Reasoning</span></td><td>{{abstractReasoning}}</td>
                <td><span {{bind-attr title=ideaOrientationLeastLikeTooltip}}>Idea Orientation}</span></td><td>{{ideaOrientation}}</td>
              </tr>
              <tr>
                <td><span {{bind-attr title=thoroughnessLeastLikeTooltip}}>Thoroughness</span></td><td>{{thoroughness}}</td>
                <td><span {{bind-attr title=flexibilityLeastLikeTooltip}}>Flexibility</span></td><td>{{flexibility}}</td>
              </tr>
              <tr>
                <td><span {{bind-attr title=selfStructureLeastLikeTooltip}}>Self Structure</span></td><td>{{selfStructure}}</td>
                <td><span {{bind-attr title=externalStructureLeastLikeTooltip}}>External Structure</span></td><td>{{externalStructure}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
