<div class="superhero">
  <div class="row">
    <div class="photo pull-left">
      <img {{bind-attr src=picUrl}} />
    </div>
    <div class="info pull-right">
      <div class="full_name">{{fullName}}</div>
      <div class="email">{{email}}</div>
    </div>
  </div>
  <table class="table table-hover">
  <thead>
    <tr>
      <th>Caliper attribute</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Assertiveness</td><td>{{assertiveness}}</td></tr>
    <tr><td>Aggressiveness</td><td>{{aggressiveness}}</td></tr>
    <tr><td>Ego Drive</td><td>{{egoDrive}}</td></tr>
    <tr><td>Empathy</td><td>{{empathy}}</td></tr>
    <tr><td>Ego Strength/Resilience</td><td>{{egoStrengthResilience}}</td></tr>
    <tr><td>Risk Taking</td><td>{{riskTaking}}</td></tr>
    <tr><td>Urgency</td><td>{{urgency}}</td></tr>
    <tr><td>Cautiousness</td><td>{{cautiousness}}</td></tr>
    <tr><td>Sociability</td><td>{{sociability}}</td></tr>
    <tr><td>Gregariousness</td><td>{{gregariousness}}</td></tr>
    <tr><td>Accommodation</td><td>{{accommodation}}</td></tr>
    <tr><td>Skepticism</td><td>{{skepticism}}</td></tr>
    <tr><td>abstract Reasoning</td><td>{{abstractReasoning}}</td></tr>
    <tr><td>Idea Orientation</td><td>{{ideaOrientation}}</td></tr>
    <tr><td>Thoroughness</td><td>{{thoroughness}}</td></tr>
    <tr><td>Flexibility</td><td>{{flexibility}}</td></tr>
    <tr><td>Self Structure</td><td>{{selfStructure}}</td></tr>
    <tr><td>External Structure</td><td>{{externalStructure}}</td></tr>
  </tbody>
</div>
