<div class="superhero">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-default">
        {{! <div class="panel-heading">Panel heading without title</div> }}
        <div class="panel-body">
          <div class="photo pull-left">
            <img {{bind-attr src=picUrl}} />
          </div>
          <div class="info pull-right">
            <h3 class="full_name">{{fullName}}</h3>
            <div class="email">{{mail-to email}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">About Me</h4>
        </div>
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>My Superpowers</dt>
            <dd>{{superpowers}}</dd>
            <dt>My Priorities</dt>
            <dd>{{priorities}}</dd>
            <dt>What I Love</dt>
            <dd>{{whatILove}}</dd>
            <dt>What I Hate</dt>
            <dd>{{whatIHate}}</dd>
            <dt>What I Need From You</dt>
            <dd>{{whatINeed}}</dd>

          </dl>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">DiSC {{majorDiscStyle}} - {{discStyleDescription}}</h4>
        </div>
        <div class="panel-body">
          <img width="100%" {{bind-attr src=discPicUrl}} />
        </div>
      </div>
    </div>
    <div class="column-fluid col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Caliper Profile</h4>
        </div>
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>&nbsp;</th>
                <th>Score</th>
                <th>&nbsp;</th>
                <th>Score</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><span rel="tooltip" data-html="true" class="hoverable-tooltip" {{bind-attr data-original-title=assertivenessSimilarityTooltip}}>Assertiveness</span></td><td>{{assertiveness}}</td>
                <td><span rel="tooltip" data-html="true" class="hoverable-tooltip" {{bind-attr data-original-title=aggressivenessSimilarityTooltip}}>Aggressiveness</span></td><td>{{aggressiveness}}</td>
              </tr>
              <tr>
                <td><span rel="tooltip" data-html="true" class="hoverable-tooltip" {{bind-attr data-original-title=egoDriveSimilarityTooltip}}>Ego Drive</span></td><td>{{egoDrive}}</td>
                <td><span rel="tooltip" data-html="true" class="hoverable-tooltip" {{bind-attr data-original-title=empathySimilarityTooltip}}>Empathy</span></td><td>{{empathy}}</td>
              </tr>
              <tr>
                <td><span rel="tooltip" data-html="true" class="hoverable-tooltip" {{bind-attr data-original-title=egoStrengthResilienceSimilarityTooltip}}>Ego Strength/Resilience</span></td><td>{{egoStrengthResilience}}</td>
                <td><span rel="tooltip" data-html="true" class="hoverable-tooltip" {{bind-attr data-original-title=riskTakingSimilarityTooltip}}>Risk Taking</span></td><td>{{riskTaking}}</td>
              </tr>
              <tr>
                <td><span rel="tooltip" data-html="true" class="hoverable-tooltip" {{bind-attr data-original-title=urgencySimilarityTooltip}}>Urgency</span></td><td>{{urgency}}</td>
                <td><span rel="tooltip" data-html="true" class="hoverable-tooltip" {{bind-attr data-original-title=cautiousnessSimilarityTooltip}}>Cautiousness</span></td><td>{{cautiousness}}</td>
              </tr>
              <tr>
                <td><span rel="tooltip" data-html="true" class="hoverable-tooltip" {{bind-attr data-original-title=sociabilitySimilarityTooltip}}>Sociability</span></td><td>{{sociability}}</td>
                <td><span rel="tooltip" data-html="true" class="hoverable-tooltip" {{bind-attr data-original-title=gregariousnessSimilarityTooltip}}>Gregariousness</span></td><td>{{gregariousness}}</td>
              </tr>
              <tr>
                <td><span rel="tooltip" data-html="true" class="hoverable-tooltip" {{bind-attr data-original-title=accommodationSimilarityTooltip}}>Accommodation</span></td><td>{{accommodation}}</td>
                <td><span rel="tooltip" data-html="true" class="hoverable-tooltip" {{bind-attr data-original-title=skepticismSimilarityTooltip}}>Skepticism</span></td><td>{{skepticism}}</td>
              </tr>
              <tr>
                <td><span rel="tooltip" data-html="true" class="hoverable-tooltip" {{bind-attr data-original-title=abstractReasoningSimilarityTooltip}}>Abstract Reasoning</span></td><td>{{abstractReasoning}}</td>
                <td><span rel="tooltip" data-html="true" class="hoverable-tooltip" {{bind-attr data-original-title=ideaOrientationSimilarityTooltip}}>Idea Orientation</span></td><td>{{ideaOrientation}}</td>
              </tr>
              <tr>
                <td><span rel="tooltip" data-html="true" class="hoverable-tooltip" {{bind-attr data-original-title=thoroughnessSimilarityTooltip}}>Thoroughness</span></td><td>{{thoroughness}}</td>
                <td><span rel="tooltip" data-html="true" class="hoverable-tooltip" {{bind-attr data-original-title=flexibilitySimilarityTooltip}}>Flexibility</span></td><td>{{flexibility}}</td>
              </tr>
              <tr>
                <td><span rel="tooltip" data-html="true" class="hoverable-tooltip" {{bind-attr data-original-title=selfStructureSimilarityTooltip}}>Self Structure</span></td><td>{{selfStructure}}</td>
                <td><span rel="tooltip" data-html="true" class="hoverable-tooltip" {{bind-attr data-original-title=externalStructureSimilarityTooltip}}>External Structure</span></td><td>{{externalStructure}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
